/* #top-rect{
    height:100px;
    background: #0099ff;
    color: white;
    align-items: bottom;
} */

body{
    margin: 0px;
}

/* cf https://codepen.io/P1N2O/pen/pyBNzX, Manuel Pinto*/
#top-rect{
    background: linear-gradient(45deg, #0099ff, #0004ff);
	background-size: 400% 400%;
    animation: gradient 45s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#top-rect > p {
    display: table-cell;
    height: 100px;
    vertical-align: bottom;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    color: white;
    padding-left: 8px;
    padding-bottom: 4px;
}


.treejs-label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}


.treejs-node{
    color: black;
}


.treejs-checkbox{
    display: none !important;
}

.treejs-node__halfchecked{
    color: orange;
}



.treejs-node__checked{
    color: red;
}


.treejs-node .treejs-subnode{
    margin-top: 2px;
    margin-bottom: 2px;
}

.treejs-subnode .treejs-label{
    font-family: Arial, Helvetica, sans-serif;
    font-size:   small; 
}
